.unstyled-link {
  text-decoration: none;
}

.unstyled-link:hover {
  text-decoration: none;
  color: grey;
}

.navi {
  padding: 0;
  padding-top: 10px;
}

#nav-title {
  margin: 0;
}

.nav-right {
  float: right;
  margin-top: -45px;
}

a{
  color: grey;
}

a:hover{
  text-decoration: none;
}

.well-pop:hover {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}
