<h1>Have a tech related question?</h1>
<h3>Post it below!</h3>
<hr>
{{#each model as |question|}}
  {{#link-to 'question' question.id}}
    {{question-tile question=question}}
  {{/link-to}}
{{/each}}

{{new-question saveQuestion='saveQuestion'}}
